p,ul,h2,h1 {
    margin-block-start: 0;
    margin-block-end: 0;
  }
body{
    display: flex;
    justify-content: center;
}
.main{
    width: 80%;
}
.display_flex_row{
    display: flex;
    flex-direction: row;
}
  
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img{
    width: 50.48px;
}

.recherche_principale{
    position: relative;
}
.recherche_principale input[type="search"] {
    width: 100%;
}
.recherche_principale i {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.filtre_container{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.filtre{
    position: relative;
    width: 150px;
}
.filtre input[type="search"] {
    width: 100%;
}
.filtre i {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.filtre .fa-chevron-up{
    display: none;
}

.container_space{
    margin-top:20px;
    margin-bottom: 20px;
}

.element_space{
    margin-top:8px;
    margin-bottom: 8px;
}

.recette{
    width: 30%;
}

.ul_filtres{
}